@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to InnoGotchi!</h1>
    <p>Description of the game.</p>
    <p>Do have account? Sig in!</p>
    <p>Do you want to play? Register!</p>

</div>
