@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to InnoGotchi!</h1>
    <p>Description of the game.</p>
    <p>Do have account? <a class="fw-bold text-body" asp-controller="Authentication" asp-action="SignIn"><u>Sig in!</u></a></p>
    <p>Do you want to play? <a class="fw-bold text-body" asp-controller="Authentication" asp-action="Registration"><u>Register!</u></a> </p>

</div>
