@model InnoGotchi.MVC.Models.User.UserForRegistrationDto

@{
    ViewData["Title"] = "Registration";
}

    <div class="mask d-flex align-items-center h-80 gradient-custom-3">
        <div class="container h-80">
            <div class="row d-flex justify-content-center align-items-center h-80">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h3 class="text-uppercase text-center mb-5">Create an account</h3>

                            <form asp-controller="Authentication" asp-action="Registration" method="post">
                                <div class="form-outline mb-3">
                                    <input type="text" asp-for="FirstName" class="form-control form-control-lg" placeholder="Your First Name"/>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="text" asp-for="LastName" class="form-control form-control-lg" placeholder="Your Second Name"/>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="email" asp-for="Email" class="form-control form-control-lg" placeholder="Your Email"/>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" asp-for="Password" class="form-control form-control-lg" placeholder="Password"/>
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" asp-for="ConfirmedPassword" class="form-control form-control-lg" placeholder="Repeat your password"/>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register" />
                                </div>

                                <p class="text-center text-muted mt-5 mb-0">
                                    Have already an account? <a asp-controller="Authentication" asp-action="SignIn" class="fw-bold text-body"><u>Login here</u></a>
                                </p>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
